body {
  background-image: url("./images/paper_block.jpg");
}
h1 {
  color: rgb(18, 11, 122);
  text-align: center;
}
h2 {
  border-left: 5px solid red;
}

nav {
  text-align: center;
}
li {
  display: inline;
}
a {
  text-decoration: none;
  display: inline-block;
  color: azure;
  background-color: rgb(144, 185, 30);
  border: 2px solid rgb(144, 185, 30);
  border-radius: 10px;
  padding: 5px 25px;
  text-align: center;
  margin: 5px 40px;
}
